.todo-app{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.todo-header{
    font-family: Helvetica neue;
    font-size: 100px;
    font-weight: 100;
    color: pink;
}

.list-of-todos{
    display:flex;
    flex-direction:column;
    font-size:24px;
}
.circle{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:25px;
}

input{
    border-radius:0px;
    border:white;
    font-size:24px;
}
.todo-input-element{
    display:flex;
    flex-direction:row;
}
.todo-input{
    font-size:24px;
}

.checkbox{
    border-radius:50%;
}

.each-todo-element{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:500px;
}